<a href="https://colab.research.google.com/github/dbabrams/applied_hydro/blob/master/Week_1/Week_1_Python_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='Top'></a>
# <center>Week 1 Lecture Notes: Jupyter Notebook Primer and Python as a Calculator</center>
<ul>
    <li><a href='#JupyterNotebook'>I. Jupyter Notebook</a></li>
    <li><a href='#FirstPythonCode'>II. First Python Code</a></li>
    <li><a href='#IntFloat'>III. Integers and Floats</a></li>
    <li><a href='#ModPackLib'>IV. Modules, Packages, and Libraries</a></li>
    <li><a href='#Loops'>V. Loops</a></li>
</ul>

<a id='JupyterNotebook'></a>
# I. Jupyter Notebook
Jupyter Notebook is an open-source web application that allows the creation and sharing of documents that contain live code, equations, visualizations and narrative text. More details at: https://jupyter.org/.

Most assignments in this class will be completed using Jupyter Notebooks. We are going to leverage its powerful story-telling capabilities integrated with codes in lieu of written reports. However, for longer codes, we need more powerful troubleshooting capabilities, so will be using an integrated development environment (IDE) called Spyder later in the semester.

### Cells 

All content in Jupyter Notebook is written within a cell. There are two types of cells that we will use this semester:
<ul>
    <li> Code: Contains Python code, or another language depending on the selected kernel</li>
    <li> Markdown: Markdown is a text-to-HTML conversion tool for web writers. Contains explanatory text</li>
</ul>

There is a third cell type, `Raw`, but we will not be using it this semester.

### Markdown Cells

Click on this paragraph <b>once</b>, you will see the cell outline. _This is a Markdown cell._ There are a number of tags that can be used within a Markdown cell to control formatting (italicize, bold, change font color, etc.). <b><font color='green'>Double-click in this cell to see an example of Markdown tags, then press `Ctrl+Enter` to run the cell.</font></b>

More details on Markdown can be found at: https://daringfireball.net/projects/markdown/. We will discuss different formatting options as the semester progresses.

### By default, all new cells added are Code cells.
You can easily add a new cell simply by pressing "b". The new cell will be added <b>below</b> the currently selected cell. <b>Note that you cannot use this shortcut if you are currently editing a cell.</b> Conversely, if you want to add a cell above the currently selected cell, press "a".

### Changing Cell Types
You may always use the Jupyter menu bar to change Cell types, but you can also use shortcuts when the cell is selected:
<ul>
    <li>"m": Markdown</li>
    <li>"y": Code</li>
</ul>

If you are in a Code cell, you should see "[]" to the left of the cell. These brackets will not be present in a Markdown cell.

<b>If you are like me, you will get in a hurry at some point this semester and accidentally hit the `r` button while a cell is selected but not editable. This will convert the cell to a `raw` format, which means it probably will not work like expected.</b>

### Markdown cells also allow for writing equations with LaTeX
LaTeX is a typesetting code that is particularly powerful when typesetting mathematical formulas. Compare a very familiar equation without LaTeX: 

E = mc^2

to the same equation using LateX:

$E = mc^2$


To signify that LaTeX's mathematical funcationality is being used, simply place the equation between two dollar signs (\$equation\$) when typing the Markdown Cell. Here are some examples of equations created with LaTeX. Double click in this cell to see the formatting commands:
<ul>
    <li>Subscripts: $B_c$, $B_{c0}$</li>
    <li>Fractions: $x/y$, $\frac{x}{y}$</li>
    <li>Symbols: $\Delta$, $\pi$, $\infty$</li>
    <li>Exponential: $e^5$, $e^{5000}$</li>
</ul>

Much more on LaTeX math can be found at: https://artofproblemsolving.com/wiki/index.php/LaTeX:Symbols

### Adding images in Markdown

There are a number of ways to add images with Markdown. Perhaps the easiest is to link to an image already on the web. Double click on this cell to see how easy it is to add an image.

![John Cleese](https://m.media-amazon.com/images/M/MV5BODYzZWU2MmItMDYzNS00OGJjLWE4NTAtYjMyZjBiNTY5OTcxXkEyXkFqcGdeQXVyNTAyNDQ2NjI@._V1_SY1000_CR0,0,1493,1000_AL_.jpg)

John Cleese as Tim the Enchanter from "Monty Python and the Holy Grail", https://www.imdb.com/title/tt0071853/mediaviewer/rm1556617984. 

Fun fact, the name Python was inspired by the Monty Python comedy team (more specifically, the Flying Circus television series).

<a id='FirstPythonCode'></a>
# II. First Python code

### Code Cells
Code cells run the computer language as determined by the Kernel selected in Jupyter. The current active kernel is in the upper-right corner of the screen. We are going to use Python 3 almost exclusively in this course, although we will do an example later in the semester where we use a different kernel.

Let's start with the classic coding problem where we print the words "Hello World!". Run the following code, and then think about what is happening here.

In [0]:
print("Hello World!")
# this is a comment

<ul>
    <li> print() is a function that acts on the argument between the parentheses.</li>
    <li> "Hello World!" is the argument (also referred to as a parameter) input into the function.</li>
    <li> # is used to define a comment; it does not impact the Python code but is a good way to add brief thoughts regarding your Python code</li>
</ul>

We briefly discussed that Python 2 and 3 are both still in use depending on applications. One of the major differences between the two is how to print a string.

### Variables
Note that we could also define "Hello World!" as a variable.

In [0]:
x = "Hello World!"
print(x)

It is important to keep track of the variable type, which can be determined with the function *type()*.

In [0]:
type(x)

In this case, *x* is a string. When defining a string variable, use "string" or 'string'.

In [0]:
x = 'Hello World!'
print(x)
type(x)

What if quotation marks aren't used?

In [0]:
x = Hello World!

The error that occurs is a common one, syntax error. Syntax is the set of rules that define a programming language- trying to define a string without quotation marks is against the rules of Python.

Now let's try printing the number 42.

In [0]:
x = 42
print(x)
type(x)

This still works, but the type is not a string but rather an integer. No problem, until we try to print a sentence with the number 42 embedded.

In [0]:
x = 42
print('My favorite number is '+x)

It is often easy to switch variable types. The function str() does a number of things, including changing integers to strings.

In [0]:
# add two strings together, must convert
x = 42
print('My favorite number is ' +str(x))

Python 3 introduced an alternative to printing statements that include both strings and integers, as shown below.

In [0]:
# can also print with different data types
# in this case, print(string,integer)
x = 42
print('My favorite number is',x)

`Print` underwent many changes between Python 2 and 3. Try changing the kernel for the following cells blocks between Python 2 and 3 to see how `print` is impacted.

In [0]:
# Python 2 had a print statement, and not just a function. The print statement was removed in Python 3.
print "Hello World"

In [0]:
# The print function is available in both Python 2 and 3, and often yields the same results
print("Hello World")
print("Hello World, " + "Nice to Meet You")

In [0]:
# However, there are still some differences
print("Hello World,","Nice to Meet You")

Many applications, including ArcGIS andn QGIS, still rely on Python 2. Understanding the often subtle differences in the code can be important if using packages related to these GIS programs.

<b>Before proceeding, make sure you have selected a Python 3 kernel. </b>

<a id='IntFloat'></a>
# III. Integers and Floats
We have already seen two different variable types, integers and strings. We are going to put strings on the back-burner for a few weeks, and instead focus on integers and floats. Floats are determined by adding a decimal point.

In [0]:
#integer
x = 5
type(x)

In [0]:
#float
x = 4.
type(x)

You might have noticed by now that we have defined and redefined the variable x a number of times. Python variables are dynamic, and can change multiple times throughout a code. It is prudent to keep track of the variable type, particularly because some functions require an integer or a float as an argument. See the code below to see how easy it is for a variable to change from an integer to a float.

In [0]:
x = 5
print(x,type(x))
y = 1.
x = x/y
print(x,type(x))

<a id='ModPackLib'></a>
# IV. Modules, Packages, and Libraries
Basic Python is actually rather limited in its mathematical capabilities (see below for a list of arithmetic operations in basic Python).

### Basic arithmetic operations

Standard python recognizes basic mathematical operations

|Operator | Description | Example|
|--------|--------|--------|
| `+` | Addition | `11+2` |
| `-` | Subtraction | `11-2` |
| `*` | Multiplication | `11*2`|
| `/` | Division | `11/2` |
| `**` | Exponentiation/power calculation | `2**3`|
| `%` | Modulus | `11%2` |
| `//` | Integer Division | `11//2` |

What if we want to evaluate something slightly more complicated, but still within the capabilities of a cheap scientific calculator:
$y = sin(\pi)$

In [0]:
# pi() is not a function in basic Python
x = pi()

In [0]:
# neither is sin()
y = sin(3.14)

However, Python has numerous packages, libraries, and modules to supplement the basic language. For now, there is no need to concern yourself with the differences between the three- they are all brought into Python the same way. There is a large Python community that develops and maintains modules, packages, and libraries.

Let's import the math module. For more on the math module, see: https://docs.python.org/2/library/math.html

In [0]:
import math

To use the math module (or any module, library, package), you need to type `math.function()` or `math.constant`. Since pi is a constant, we type `math.pi`

In [0]:
x = math.pi
print(x)

To calculate sine, we now need to use y = math.sin()

In [0]:
import math
x = math.pi
y = math.sin(x)
print(y)

1.2246467991473532e-16

<a id='Loops'></a>
# V. Loops
Loops iterate over a sequence of numbers, either a specified number of times or when a specific condition is met.

### For loops
For-loops run through a range of values. The syntax for a for-loop is shown below.

`for` defines that this is a for for-loop.

`x` is the iterator in the for-loop.

`range()` is a function that controls the number of iterations. The argument is the `stop` value. 

Think about what the following Code Cell will generate when run. Did it do what you expected?

In [0]:
for x in range(1,5):
    print(x)

1
2
3
4

# Wait, what? When we print the iterator, it starts at 0 and ends at 4. Many new and experienced programmers probably expected this to start at 1 and end at 5, particularly if your prior programming experience is in Matlab. However, Python is 0-indexed, which shifts everything one to the left.

Think of it this way:
<ul>
    <li>0 $\Rightarrow$ 0-1</li>
    <li>1 $\Rightarrow$ 1-2</li>
    <li>2 $\Rightarrow$ 2-3</li>
    <li>3 $\Rightarrow$ 3-4</li>
    <li>4 $\Rightarrow$ 4-5</li>
</ul>

As a result, `range(5)` looks at $0 \Rightarrow 5$. Hence, when interating through the indices, it goes 0, 1, 2, 3, 4, <b>NOT</b> 1, 2, 3, 4, 5.

`range()` has additional, optional arguments. When two arguments are used, the first represents `start` and the last represents `stop`.

In [0]:
for x in range(1,5):
    print(x)

`range()` has a third optional argument that represents the size of the increment (which defaults to 1 when not specified). It is the third argument when present.

In [0]:
for x in range(1,5,2):
    print(x)

1
3

If we want to print all of the odd numbers from 1 to 9, we can write the following for-loop. Note that due to Python indexing, we have to go over the upper value we want.

In [0]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

Note that this upper limit must be an integer. Note the "TypeError" in the following code.

In [0]:
# This code fails
for x in range(1,9.1,2):
    print(x)

TypeError: 'float' object cannot be interpreted as an integer

Now let's perform an arithmetic operation within the loop.

In [0]:
for x in range(5):
    y = x**2
    print(y)

0
1
4
9
16

You may have noticed that each loop includes two important features. The first line of the loop ends with a colon. Each of the subsequent lines are shifted to the right by a single tab. These tabs are not only white-space for purposes of display. The indentation is critical in the Python code, and must be consistently used throughout the code. Note the errors in the following loops:

In [0]:
# invalid syntax when colon is omitted
for x in range(5):
    y = x**2
    print(y)

0
1
4
9
16

In [0]:
#Indentation error when spacing is not consistent
for x in range(5):
    y = x**2
    print(y)

0
1
4
9
16

### While loops
While defines another type of loop that stops at some condition. The format is similar to a for-loop, but action has to be taken on the iterator within the loop.

In [0]:
x = 5
while x<=10:
    print(x)
    x = x+1

5
6
7
8
9
10

It is easy to see that if x is not modified within the loop, then x will always be less than 10. This is referred to as <b><font color = 'red'>the dreaded "infinite loop"</font></b>. If you really want to try it, go right ahead, but be aware of where the "stop button" is. Also be sure that you saved your Jupyter Notebook, because sometimes completely closing out of the Jupyter Notebook is the only way to escape the infinite loop.